* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

#main-admin-section {
    min-height: 100vh !important;
    width: calc(100vw-8px);
}


/* left container */

#left-container {
    height: 100%;
    width: 70px;
    overflow-y: scroll;
    position: fixed;
    background: #f1f1f1;
}


/* left container bar */


/* width */

#left-container::-webkit-scrollbar {
    width: 4px;
}


/* Track */

#left-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#left-container::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

#left-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* left container scroll bar design end */

.left-options-div {
    width: 100%;
    padding: 10px;
    /* white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important; */
    height: 55px;
    /* background: #003c6d; */
    background: #2e3444;
    margin-bottom: 2px;
}

.left-options-div1:hover {
    background: #024f8f;
}

.left-image-div {
    height: 30px;
    width: 30px;
    font-size: 12px;
}

.left-icon-image {
    height: 30px;
    width: 30px;
}

.left-div-text {
    min-width: 0px;
    /* padding-top: -0.5px; */
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
    color: white !important;
    font-size: 10px;
    margin: auto;
}

.left-icon {
    color: white;
    font-size: 1.9em !important;
}

.user-div {
    bottom: 0;
    width: 100%;
}

.small-red-dot {
    height: 13px !important;
    width: 13px !important;
    border-radius: 50%;
    background: red;
    z-index: 100;
    margin-left: 15px;
    position: absolute;
}

.user-text {
    margin-left: 7px;
}

.font-24 {
    font-size: 22px;
    padding-left: 6px;
}


/* rigth container */

#right-container {
    height: 100%;
    width: calc(100% - 70px);
    overflow-y: scroll;
    position: fixed;
    margin-left: 70px;
    padding: 10px;
}


/* left container bar */


/* width */

#right-container::-webkit-scrollbar {
    width: 4px;
}


/* Track */

#right-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#right-container::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

#right-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* right container scroll bar design end */

.right-container-header {
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
}

.username-div {
    margin: auto;
    margin-right: 4px;
}

.username-position {
    padding: 4px;
}

.main-content-dashboard {
    width: 100%;
    min-height: 700px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.dashboard-leads-info-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-leads-info-div-small-divs {
    width: 20%;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    transition: all ease-in-out .25s;
}

.dashboard-leads-info-div-small-divs:hover {
    cursor: pointer;
    border-color: #0082FF;
    box-shadow: 0 2px 4px 0 rgb(146 202 255 / 30%);
}

.dashboard-leads-info-div-small-divs-icon {
    width: 25%;
    padding: 16px;
}

.dashboard-leads-info-div-small-divs-number {
    width: 75%;
    text-align: right;
    padding-top: 10px;
    padding-right: 6px;
    font-size: 90%;
}

.dashboard-graphs-different-things {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.dashboard-two-large-graph-div {
    width: 100%;
}

.dashboard-two-small-graph-div {
    min-height: 100px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#chartContainer1 {
    height: calc(35vw);
    border-radius: 4px;
}

#chartContainer2 {
    height: calc(35vw);
}

#chartContainers1 {
    width: 48%;
    margin: 2%;
    height: calc(25vw);
}

#chartContainers2 {
    width: 48%;
    margin: 2%;
    height: calc(25vw);
}

.main-content-notifications {
    width: 100%;
    min-height: 85vh;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.all-notificationa-type {
    width: 100%;
    height: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

.todays-notifications {
    width: 100%;
    background-color: white;
    margin-bottom: 40px;
    min-height: 60px;
    border-radius: 6px;
}

.todays-notifications-heading {
    height: 40px;
    background-color: thistle;
    border-radius: 6px 6px 0px 0px;
    padding: 6px;
    display: flex;
    flex-direction: row;
}

.todays-notifications-heading-archeive {
    height: 40px;
    background-color: rgb(151, 151, 151);
    border-radius: 6px 6px 0px 0px;
    padding: 6px;
    display: flex;
    flex-direction: row;
}

.open-close-drop {
    margin: auto;
    width: 40px;
    padding-left: 20px;
    margin-right: 10px;
}

.open-close-drop:hover {
    cursor: pointer;
}

.about-notifiy {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
}

.tod-notifications {
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.two-two-containers {
    width: 45%;
    margin-left: 2.5%;
}

.main-content-settings-profile {
    width: 100%;
    min-height: 800px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.left-links-div {
    width: 30%;
    max-height: 550px;
    border-radius: 12px;
    padding: 14px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #e7e7e7;
}

.right-form-div {
    width: 65%;
    height: auto;
    border-radius: 12px;
    padding: 14px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #e7e7e7;
}

.left-links-div>div {
    margin-bottom: 10px;
}

.left-links-div>div>a {
    color: #003c6d;
}

.line-div {
    border-bottom: 2px solid #e7e7e7;
    margin: 5px;
}

.complete-profile-div {
    display: flex;
    flex-direction: row;
}

.profile-form-labels {
    width: 30%;
    text-align: right;
    padding: 10px;
}

.profile-form-inputs {
    width: 75%;
    padding: 10px;
}

.red-asterick {
    color: red;
}

.switch-on-off>input {
    height: 14px;
    width: 14px;
}

.save-button {
    width: 100%;
}

.save-button>button {
    margin: auto;
    margin-right: 10px;
}


/* .complete-account-profile-div {} */

.brand-image-preview {
    height: 200px;
    width: 200px;
    border: 2px solid #e7e7e7;
}

.manage-options-divs {
    background: #fafbfc;
    padding: 10px;
    cursor: all-scroll;
}

.log-out-button {
    width: 100px;
    margin-left: auto;
    margin-right: 10px !important;
}

.small-option-div-in-user {
    padding: 10px;
    background: #e8f3ff;
    cursor: pointer;
    margin: 4px;
    box-shadow: 1px 2px 15px #d3d3d3;
}

.main-content-user {
    width: 100%;
    min-height: 600px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.main-content-integrations {
    width: 100%;
    min-height: 600px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.integration-divs {
    margin-top: 10px;
    margin-left: 3%;
    min-height: 150px;
    width: 30%;
    min-width: 180px;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #dddddd;
}

.integerate-div-link-div {
    width: 100px;
    padding: 10px;
    background: #e8f3ff;
    cursor: pointer;
    margin: 4px;
    /* box-shadow: 1px 2px 15px #d3d3d3; */
}

.team-settings-table-container {
    overflow-x: scroll;
}

.team-settings-main-table-div {
    min-height: 150px;
    width: 1300px;
}

.actions-div {
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}

.actions-div:hover {
    cursor: pointer;
}

.add-user-button-team {
    border-radius: 8px 0px 0px 8px;
}

.refresh-button-team {
    border-radius: 0px 8px 8px 0px;
}

#mondel-for-email-notification {
    position: absolute;
    height: 5vh;
    width: 40vw;
    min-height: 165px;
    /* min-width: 400px; */
    max-width: 80vw;
    margin: auto;
    background-color: white;
    display: none;
    top: 10%;
    left: 20%;
    padding: 10px;
}

.cancel-button-email-mondel {
    margin-left: 70%;
    margin-top: 10px;
}

.cancel-button-email-mondel:hover {
    cursor: pointer;
}

.main-form-for-add-user {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: white;
}

.main-content-add-user-team {
    width: 100%;
    min-height: 500px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.add-lead-form-div {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: white;
}

.trash-containers-options {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: white
}

.trash-option-3-flex-divs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.option-divs-change-add-filters {
    min-height: 320px;
    min-width: 320px;
    width: 30%;
    background-color: white;
    border: 1px solid #e7e7e7;
    margin: auto;
    margin-top: 20px;
}

.small-images-in-trash {
    margin-left: 30%;
}

.btn-in-trash {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.trash-Mondel {
    position: absolute;
    min-height: 450px;
    height: 30vh;
    width: 80%;
    top: 100px;
    left: 50px;
    border: 2px solid #e7e7e7;
    background-color: white;
}

.main-content-filter-mondel {
    overflow-y: scroll;
    height: 300px;
}

.left-upload-div-in-import {
    background-color: white;
    border-radius: 4px;
    min-height: 300px;
    width: 30%;
    margin-bottom: 10px;
}

.right-info-div-in-import {
    background-color: white;
    border-radius: 4px;
    min-height: 300px;
    width: 62%;
}

.exel-div {
    max-width: 200px;
}

.suggestions-while-upload {
    font-size: 14px;
}

.main-heading-in-reports-section {
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.main-bold-section-for-report {
    font-size: 24px;
    font-weight: 800;
}

.lead-by-section-divs {
    width: 45%;
    height: 400px;
    background-color: white;
    margin: 34px;
    border-radius: 8px;
    padding: 10px;
}

.leads-by-source-table {
    height: 300px;
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.report-main-table-div {
    width: 100%;
    overflow-x: scroll;
}


/* mondel in trash start */


/* mondel in trash end */


/* media queries */

@media screen and (max-width:992px) {
    #left-container {
        width: 70px!important;
    }
    #right-container {
        width: calc(100% - 70px) !important;
    }
    .dashboard-leads-info-div-small-divs {
        width: 40%;
        height: 80px;
        border: 1px solid black;
        border-radius: 4px;
        margin: auto;
        margin-top: 10px;
    }
    .dashboard-leads-info-div-small-divs-number {
        font-size: 0.8rem;
    }
    .all-notificationa-type {
        width: 100%;
        height: auto;
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    /* .todays-notifications {
        width: 95%;
        margin-left: 1.5%;
        background-color: white;
        margin-bottom: 40px;
    } */
    .two-two-containers {
        width: 95%;
        margin-left: 1.5%;
    }
    .main-content-settings-profile {
        width: 100%;
        min-height: 700px;
        background-color: #f1f1f1;
        padding: 8px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }
    .left-links-div {
        width: 90%;
        min-height: 300px;
    }
    .right-form-div {
        width: 90%;
        min-height: 300px;
    }
    .integration-divs {
        margin-top: 10px;
        margin-left: 1%;
        min-height: 150px;
        width: 98%;
        background-color: #ffffff;
        box-shadow: 2px 2px 8px #dddddd;
    }
    #mondel-for-email-notification {
        position: absolute;
        height: 10vh;
        width: 75vw;
        min-height: 150px;
        /* min-width: 400px; */
        max-width: 80vw;
        margin: auto;
        left: 5%;
    }
    .trash-option-3-flex-divs {
        display: flex;
        flex-direction: column;
    }
    .left-upload-div-in-import {
        background-color: white;
        border-radius: 4px;
        min-height: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
    .right-info-div-in-import {
        background-color: white;
        border-radius: 4px;
        min-height: 300px;
        width: 100%;
        margin-bottom: 10px;
    }
    .lead-by-section-divs {
        width: 90%;
    }
}