* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

#main-admin-section {
    min-height: 100vh !important;
    width: calc(100vw-8px);
}


/* left container */

#left-container {
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    position: fixed;
    background: #f1f1f1;
    min-width: 50px;
}


/* left container bar */


/* width */

#left-container::-webkit-scrollbar {
    width: 4px;
}


/* Track */

#left-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#left-container::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

#left-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* left container scroll bar design end */

.left-options-div {
    width: 100%;
    padding: 10px;
    /* white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important; */
    overflow-x: hidden;
    height: 50px;
    background: #003c6d;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

.left-options-div1:hover {
    background: #024f8f;
}

.left-image-div {
    height: 30px;
    width: 50px;
}

.left-icon-image {
    height: 30px;
    width: 30px;
}

.left-div-text {
    min-width: 0px;
    padding-top: 3px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
    color: white !important;
}

.left-icon {
    color: white;
}

.user-div {
    bottom: 0;
    width: 100%;
}

.small-red-dot {
    height: 13px !important;
    width: 13px !important;
    border-radius: 50%;
    background: red;
    z-index: 100;
    margin-left: 15px;
    position: absolute;
}


/* rigth container */

#right-container {
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    position: fixed;
    margin-left: 20%;
    padding: 10px;
}


/* left container bar */


/* width */

#right-container::-webkit-scrollbar {
    width: 4px;
}


/* Track */

#right-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#right-container::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

#right-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* right container scroll bar design end */

.right-container-header {
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
}

.username-div {
    margin: auto;
    margin-right: 4px;
}

.username-position {
    padding: 4px;
}

.main-content-dashboard {
    width: 100%;
    min-height: 700px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
}

.dashboard-leads-info-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-leads-info-div-small-divs {
    width: 20%;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.dashboard-leads-info-div-small-divs-icon {
    width: 25%;
    padding: 16px;
}

.dashboard-leads-info-div-small-divs-number {
    width: 75%;
    text-align: right;
    padding-top: 10px;
    padding-right: 6px;
    font-size: 90%;
}

.dashboard-graphs-different-things {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.dashboard-two-large-graph-div {
    width: 100%;
}

.dashboard-two-small-graph-div {
    min-height: 100px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#chartContainer1 {
    height: calc(35vw);
}

#chartContainer2 {
    height: calc(35vw);
}

#chartContainers1 {
    width: 48%;
    margin: 2%;
    height: calc(25vw);
}

#chartContainers2 {
    width: 48%;
    margin: 2%;
    height: calc(25vw);
}


/* media queries */

@media screen and (max-width:992px) {
    #left-container {
        width: 20% !important;
    }
    #right-container {
        width: 80% !important;
    }
    .dashboard-leads-info-div-small-divs {
        width: 40%;
        height: 80px;
        border: 1px solid black;
        border-radius: 4px;
        margin: auto;
        margin-top: 10px;
    }
    .dashboard-leads-info-div-small-divs-number {
        font-size: 0.8rem;
    }
}